@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

@{
  // unused experiment before Componentizing this and
  // inverting the styling vs. the data
  
  int depth = Page.node == null ? 99 : Page.node.Depth;

}

<h1>Depth: @depth</h1>
