@* DETAILS 202403?? JRF
WHAT: Early work-through of ensuring `npm start` (Tw4 watch) is working
WHERE: https://www.accu4.com/ ... TabID?
WHY: verify watch and work out visually what our Tw classes will look like
HOW: simple flex example
WAS: n/a
*@

@inherits Custom.Hybrid.RazorTyped

<div class="w-full">
  <h4>H4 Title Here</h4>
  <div class="
    flex flex-wrap gap-1
    mx-auto w-full
    *:w-30 *:h-40 *:border-3 *:border-orange-600
  ">
    @for (var i = 0; i < 25; i++)
    {
      <div class="p-1">Box @i - Booya86</div>
    }
  </div>
</div>
