@inherits Custom.Hybrid.RazorTyped
@* DETAILS 20250927 JRF - who, what, where, when, why, was, how, ?
WHAT: Disclosure Flow Idea inspired by this Discord convo 
https://discord.com/channels/486935104384532500/572384192571113512/1421071656926974022
WHERE: https://accu2025.accuraty.us/tabid/107
HOW: simple flex example
WAS: n/a
https://play.tailwindcss.com/MNbxItnvLQ?layout=horizontal
*@
{
}

<div id="wrapper-demo321"
  class="m-3 min-h-[95vb] content-around rounded-md border-1 border-blue-300 bg-blue-100 p-3 shadow-lg [--column-width:30dvw]">
  <!-- initial list on left, top level ideas/categories -->
  <div class="relative flex w-[var(--column-width)] flex-col align-middle">
    <details id="idea-aa" name="level-0" class="group relative bg-white open:bg-cyan-100
      details-content:absolute 
      details-content:top-[50%] 
      details-content:left-[var(--column-width)] 
      details-content:ml-3 
      details-content:w-[var(--column-width)] 
      details-content:translate-y-[-50%] 
      details-content:bg-zinc-600">
      <summary class="rounded-sm border-2 border-blue-200 p-2">Idea AA — Site Navigation</summary>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>
    </details>

    <details id="idea-bb" name="level-0"
      class="group relative bg-white open:bg-zinc-100 details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
      <summary class="rounded-sm border-2 border-blue-200 p-2">Idea BB — Site Navigation</summary>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>
    </details>

    <details id="idea-cc" name="level-0"
      class="group relative bg-white open:bg-yellow-100 details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
      <summary class="rounded-sm border-2 border-blue-200 p-2">Idea CC — Site Navigation</summary>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>
    </details>

    <details id="idea-dd" name="level-0"
      class="group relative bg-white open:bg-green-100 details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
      <summary class="rounded-sm border-2 border-blue-200 p-2">Idea DD — Site Navigation</summary>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>

      <details id="idea-a" name="level-1"
        class="group relative details-content:absolute details-content:top-[50%] details-content:left-[var(--column-width)] details-content:ml-3 details-content:w-[var(--column-width)] details-content:translate-y-[-50%] details-content:bg-white">
        <summary class="rounded-sm border-2 border-blue-200 bg-white p-2">Idea A — Site Navigation</summary>
        <div class="h-30"></div>
      </details>
    </details>
  </div>
</div>

@functions {
  public string DisclosureNode()
  {
    return $@"
<details id="idea - a" class="group relative
  details - content:absolute
  details - content:top - [50 %]
  details - content:left - [var(--column - width)]
  details - content:ml - 3
  details - content:w - [var(--column - width)]
  details - content:translate - y - [-50 %]