@* 20251021 JRF - who, what, where, when, why, how, others
WHAT: Tw4 Brand and Project Fonts 
WHERE: https://accu2025.accuraty.us/tabid/43
WHY: this is a plain HTML page that 1) compiles otherwise un-used classes to Skin.css and 2) provides a visual test+demo for us
*@

@{
  // might be useful to define a variable or three?
  string labelFont = "Font Family: ";
  string textLight = "text-zinc-100";
  string textDark = "text-zinc-900";
}

<h1>Brand and Project Font Families Reference</h1>

<h2>Fonts available as classes anywhere</h2>

<h3 class="font-good-headline">@labelFont FF Good Headline Pro, use <code class="text-2xl">font-good-headline</code>
</h3>
<h3 class="font-recursive-sans">@labelFont Recursive Sans Casual Static, use <code
    class="text-2xl">font-recursive-sans</code></h3>
<h3 class="font-recursive-mono">@labelFont Recursive Mono Casual Static, use <code
    class="text-2xl">font-recursive-mono</code></h3>
<h3 class="font-nexus">@labelFont FF Nexus Serif, use <code class="text-2xl">font-nexus</code></h3>
<h3 class="font-inter">@labelFont Inter Variable, use <code class="text-2xl">font-inter</code></h3>

<h2>Abstract uses in AccuTheme</h2>

<h3 class="font-heading">Headings H1-H6 (Display): <a href="#" target="_blank">FF Good Headline Pro (Wide)</a>,
  defined class: <code class="text-2xl">font-heading</code></h3>
<h3 class="font-nav">Navigation/Menus: <a href="#" target="_blank">Inter Variable</a>,
  defined class: <code class="text-2xl">font-nav</code></h3>
<h3 class="font-code">Code &lt;CODE&gt;: <a href="#" target="_blank">Recusive Mono Casual Static</a>,
  defined class: <code class="text-2xl">font-code</code></h3>


<pre><code class="text-xl">
Our TypeKit is ASL-ACCU4-2025 and has 
  Inter Variable
  FF Good Headline Pro (and Wide)
  Recursive Sans Casual Static
  Recursive Mono Casual Static
  FF Nexus Serif

<a href="https://fonts.adobe.com/my_fonts#web_projects-section" target="_blank">https://fonts.adobe.com/my_fonts#web_projects-section</a>
</code></pre>
