root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.cs]
max_line_length = 120
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
