# Generated assets
**/*.min.css
**/*.min.js
**/*.map
**/*.bundle.js
**/AccuTheme-Tw4/Skin.css
**/AccuTheme-Tw4/dist/**/*.*
!**/AccuTheme-Tw4/dist/layers/*.css

# Environment
.env
.env.*

# AccuTheme Project and Accuraty utility (convenience)
.vscode/sftp.json
**/*-tmp.*
**/*-gitignore.*
*-gitignore

# DNN reasons
dnn/web.config
dnn/tosic*.zip.manifest
# [ to be removed when AccuTheme.cshtml is permanently removed ]
# dnn/App_Code/

### DNN v10+ CSS @layer wrappings [experimental] - 1 file per line only (for now)
!dnn/Resources/Shared/stylesheets/dnndefault/10.0.0/default.css

# 2sxc Content App Generated and app original cs files
**/Portals/**/2sxc/**/AppCode/**/*.cs
# allow back AppCode stuff we write
!**/Portals/**/2sxc/**/AppCode/**/*Accu*.cs
!**/Portals/**/2sxc/**/AppCode/**/Accu/*.*
!**/Portals/**/2sxc/**/AppCode/ContentHelpers.cs

# ignore all 2sxc/[app]/bs3, /bs4, /bs5 folders; we would never want to check them in
**/Portals/**/2sxc/**/bs3/
**/Portals/**/2sxc/**/bs4/
**/Portals/**/2sxc/**/bs5/

# allow back some files we should be preserving https://github.com/Accuraty/AccuTheme-2021/issues/43
!src/tailwind/**/*.css
!**/DesktopModules/RazorModules/RazorHost/**/*.cshtml
!**/_default/PersonaBarTheme.css
!**/_default/EditBarTheme.css
# dnn\Portals\_default\Skins\AccuTheme-Tw4\dist
!**/Portals/**/portal.css

# SYSTEM
.DS_Store
Thumbs.db

# Build
**/node_modules/
**/npm-debug.log
# reminder: needs to be checked in
# package-lock.json

# .sln/.csproj VS Code IntelliSense detritus to ignore
.vs/
bin/
obj/

# TEMP
.cache
.temp-cache
.sass-cache/
*.log
/logs/
/tmp/
package/.tmp/

# MISC FILES
*~
*.zip
*.err
.idea
.project
.settings
*.esproj
*.tmproj
*.tmproject
sh.exe.stackdump
real-favicon-generator.json

# ignore JRF's DDR Menu iterations and experiments
dnn/**/AccuTheme-Tw4/menus/*-nx20*
