# SYSTEM
.DS_Store
Thumbs.db

# BUILD FILES
**/node_modules/
**/yarn-error.log
**/npm-debug.log
# reminder: needs to be checked in
# package-lock.json

# ASSETS
**/dist/
**/public/
**/*.map
**/*.css
**/*.bundle.js

# TEMP
.cache
.temp-cache
.sass-cache/
*.log
/logs/
/tmp/
package/.tmp/
real-favicon-generator.json
# Accuraty utility (convenience); ignore any files OR folders so they do NOT get in to Git/GitHub
**/*-gitignore.*
**/*-tmp.*

# ENVIRONMENT
.env
.env.*

# MISC FILES
*~
*.zip
*.err
.cache
.idea
.project
.settings
*.esproj
*.sublime*
*.tmproj
*.tmproject
nbproject
sh.exe.stackdump
sftp-config.json
.vscode/sftp.json
dnn/web.config

# .sln/.csproj VS Code IntelliSense detritus to ignore
.vs/
bin/
obj/

# 2sxc Content App Generated and app original cs files
**/Portals/**/2sxc/**/AppCode/**/*.cs
!**/Portals/**/2sxc/**/AppCode/**/*.Accuraty.cs

# [to be removed?, we don't do this anymore ] if AccuCode is setup as a separate project (.gitmodules, /App_Code), uncomment this
# app/App_Code/

# OHS utilities, https://github.com/Accuraty/AccuTheme-2021/issues/47
# VS Code hack? >>> See notes in .gitmodules file
.gitmodules

### Template Local DNN Exclusions
Database
Logs
dnn/admin
dnn/App_Browsers
dnn/App_Data
dnn/App_GlobalResources
dnn/Components
dnn/Config
dnn/controls
dnn/DesktopModules
dnn/Icons
dnn/images
dnn/Install
dnn/js
dnn/Licenses
dnn/Providers
dnn/Resources
dnn/*.gif
dnn/*.ico
dnn/*.json
dnn/Default.aspx
dnn/DotNetNuke.*
dnn/ErrorPage.aspx
dnn/*.asax
dnn/KeepAlive.aspx
dnn/**/*.entry.js
dnn/Portals/Web.config
dnn/Portals/_default/*

!dnn/DesktopModules/RazorModules/RazorHost/**/*.cshtml
# allow back some files we should be preserving https://github.com/Accuraty/AccuTheme-2021/issues/43
!**/_default/PersonaBarTheme.css
!**/_default/EditBarTheme.css
!src/tailwind/**/*.css

# Exclude 2sxc Apps (or just Content) and related stuffs
dnn/Portals/0/2sxc/**
dnn/Portals/0/adam/**
dnn/tosic*.zip.manifest
