@inherits AppCode.Razor.AppRazor
@using AppCode.Data

<div class="mx-auto max-w-7xl grid grid-cols-1 gap-x-8 gap-y-10 px-4 mt-24 lg:grid-cols-3 lg:mt-32">
  @foreach (var person in AsList<Person>(MyItems))
  {
    <div class="col-span-1" itemscope itemtype="http://schema.org/Person" @Kit.Toolbar.Default(person)>
      @Html.Partial("Part-Properties.cshtml", person)
    </div>
  }
</div>

@* @Html.Partial("../shared/Assets.cshtml", new { parts = "scripts, icons"}) *@