<portal version="3.0">
  <description>Default page template with just an HTML/Text module</description>
  <tabs>
    <tab>
      <panes>
        <pane>
          <name>ContentPane</name>
          <modules>
          </modules>
        </pane>
      </panes>
    </tab>
  </tabs>
</portal>
