{
  "instructions": {
    "purpose": "This file is placed in the folder of DNN skins/themes. It tells AccuTheme what mode its in and (in the future) sets other run-time environment settings.",
    "scripted": "To update the defaults, please use `npm run accutheme`",
    "discoverMore": "https://github.com/orgs/Accuraty/repositories?q=accutheme",
    "unCache": "NX IDEA: When false, normal DNN CRM. When true, the /Skin.css file is forcibly not cached on each page load with ?unc=NNNN (ticks)."
  },
  "settings": {
    "mode": "development",
    "BreadCrumbsEnabled": "true",
    "BreadCrumbsOnHome": "false",
    "DnnEditModeCssPaneMinHeight": "8rem",
    "unCache": "false"
  },
  "options": {
    "mode": {
      "option1": "development",
      "option2": "production"
    },
    "BreadCrumbsEnabled": {
      "option1": "true",
      "option2": "false"
    },
    "BreadCrumbsOnHome": {
      "option1": "true",
      "option2": "false"
    },
    "DnnEditModeCssPaneMinHeight": {
      "option1": "2rem",
      "option2": "4rem",
      "option3": "8rem"
    },
    "unCache": {
      "option1": "true",
      "option2": "false"
    }
  }
}
