:root {
  --dnn-color-pb-menu-background: #1e3d4d;
  --dnn-color-pb-menu-background-hover: #0c181f;
  --dnn-color-pb-menu-icon: #fff;
  --dnn-color-pb-menu-icon-background: #3c7a9a;
  --dnn-color-pb-menu-divider: #c5d7e1;
  --dnn-color-pb-menu-text-highlight: #3c7a9a;

  --dnn-pb-menu-brand-background: url(../images/Logo.svg) no-repeat center
    center;
  --dnn-pb-menu-brand-background-size: 32px auto;
}
