/*
  Purpose: Define foundational styles for raw HTML elements. This includes 
  default typography, body styles, form element basics, and anything that 
  sets the overall baseline for your document.

  Characteristics: Element selectors (body, h1, p, button, input, a), non-opinionated styling.

  Note: this file is imported to layer(base) in ./index.css, 
  so no need for
  @layer base { ... } 
*/

/* 
1. Type
=====================
[ Table of Contents ]
=====================

- Headings
- Lead paragraph
- Display type
- Horizontal rules
- Emphasis
- Lists
- Blockquote
- Text Wrapping
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-heading);
  text-wrap: balance;
}

.h1,
h1 {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
}

.h2,
h2 {
  font-size: var(--text-4xl);
  font-weight: var(--font-bold);
}

.h3,
h3 {
  font-size: var(--text-3xl);
  font-weight: var(--font-medium);
  margin-bottom: calc(var(--spacing) * 1);
}

.h4,
h4 {
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
}

.h5,
h5 {
  font-size: var(--text-xl);
  font-weight: var(--font-semibold);
}

.h6,
h6 {
  font-size: var(--text-base);
  font-weight: var(--font-bold);
}

p {
  font-size: var(--text-lg);
}

/* in DNN Edit Mode, don't show empty Panes */
body:not(.dnnEditState) .DNNEmptyPane {
  display: none;
}