/*
  This is where we do some global stuff
  1. Type (Headings, Lead, Display, etc.)
*/

/* 
1. Type
=====================
[ Table of Contents ]
=====================

- Headings
- Lead paragraph
- Display type
- Horizontal rules
- Emphasis
- Lists
- Blockquote
- Text Wrapping
*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-family-sans);
  text-wrap: balance; 
}

.h1,
h1 {
  font-size: var(--text-5xl);
  font-weight: var(--font-weight-bold);
}

.h2,
h2 {
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-bold);
}

.h3,
h3 {
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-medium);
}

.h4,
h4 {
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-bold);
}

.h5,
h5 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-semibold);
}

.h6,
h6 {
  font-size: var(--text-base);
  font-weight: var(--font-weight-bold);
}



p {
  font-size: var(--text-lg);
}