/* Bootstrap alert styling */
.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}


/* SITE Menu > Theme > Colors (Sass map: $colors) */

.swatch-blue {
  background-color: var(--color-swatch-blue);
  color: var(--color-white);
}
.swatch-indigo {
  background-color: var(--color-swatch-indigo);
  color: var(--color-white);
}
.swatch-purple {
  background-color: var(--color-swatch-purple);
  color: var(--color-white);
}
.swatch-pink {
  background-color: var(--color-swatch-pink);
  color: var(--color-white);
}
.swatch-red {
  background-color: var(--color-swatch-red);
  color: var(--color-white);
}
.swatch-orange {
  background-color: var(--color-swatch-orange);
  color: var(--color-black);
}
.swatch-yellow {
  background-color: var(--color-swatch-yellow);
  color: var(--color-black);
}
.swatch-green {
  background-color: var(--color-swatch-green);
  color: var(--color-white);
}
.swatch-teal {
  background-color: var(--color-swatch-teal);
  color: var(--color-white);
}


/* SITE Menu > Theme > Colors (Sass map: $theme-colors) */

.swatch-primary {
  background-color: var(--color-swatch-primary);
  color: var(--color-white);
}
.swatch-secondary {
  background-color: var(--color-swatch-secondary);
  color: var(--color-white);
}
.swatch-success {
  background-color: var(--color-swatch-success);
  color: var(--color-white);
}
.swatch-info {
  background-color: var(--color-swatch-info);
  color: var(--color-white);
}
.swatch-warning {
  background-color: var(--color-swatch-warning);
  color: var(--color-black);
}
.swatch-danger {
  background-color: var(--color-swatch-danger);
  color: var(--color-white);
}
.swatch-light {
  background-color: var(--color-swatch-light);
  color: var(--color-black);
}
.swatch-dark {
  background-color: var(--color-swatch-dark);
  color: var(--color-white);
}


/* SITE Menu > Theme > Colors (Sass map: $grays) */

.swatch-gray-100 {
  background-color: var(--swatch-gray-100);
  color: var(--color-black);
}
.swatch-gray-200 {
  background-color: var(--swatch-gray-200);
  color: var(--color-black);
}
.swatch-gray-300 {
  background-color: var(--swatch-gray-300);
  color: var(--color-black);
}
.swatch-gray-400 {
  background-color: var(--swatch-gray-400);
  color: var(--color-black);
}
.swatch-gray-500 {
  background-color: var(--swatch-gray-500);
  color: var(--color-black);
}
.swatch-gray-600 {
  background-color: var(--swatch-gray-600);
  color: var(--color-white);
}
.swatch-gray-700 {
  background-color: var(--swatch-gray-700);
  color: var(--color-white);
}
.swatch-gray-800 {
  background-color: var(--swatch-gray-800);
  color: var(--color-white);
}
.swatch-gray-900 {
  background-color: var(--swatch-gray-900);
  color: var(--color-white);
}