/* @import 'tailwindcss' source(none); */
@import 'tailwindcss';

/* easy to search for in Skin.css so you can see where this starts */
--accutheme-tw4-note: 'everything above came from import tailwindcss';
--accutheme-tw4-index-css: 'src/tailwind/index.css';

/* notice "source(none)" above, we explicitly set our sources (top level folders) */
/* or maybe not? I wish we'd added a comment when that got commented out. Why? */
@source './'; /* this folder, /src/tailwind */
@source '../../dnn/Portals/_default/Skins/AccuTheme-Tw4';
@source '../../dnn/Portals/0/2sxc';

/*  Reminders
    theme = project layout+styling w client branding baked in and 
      its important to know that its not a layer, only a build step
    base = html tag styling or anything foundational 
    components = ui elements, sections
    utilities = atomic styles for things like margins, padding, typography, colors, etc.
*/

/* see above for order of precedence */
/* Base Styles/Preflight: https://tailwindcss.com/docs/preflight */
/* reference: @import "path/file.css" layer() source() theme() prefix() important; */
@import './theme.css'; /* @theme { ... } */
@import './reset.css' layer(base); /* for AccuTheme, this means DNN reset stuff */
@import './base.css' layer(base);
@import './typography.css' layer(base); /* does this need to be layer(components) or util? */
@import './components.css' layer(components);
/* @import './buttons.css' layer(components); */
@import './bs5-favs.css' layer(components);
@import './2sxc-content-app-bs5.css' layer(components); /* see note in file */
@import './utilities.css' layer(utilities);

/* @import './accuraty'; */

/* @plugin '@tailwindcss/typography'; not using in v4 yet, see adamwathan's comment here
https://github.com/tailwindlabs/tailwindcss/discussions/15305#discussioncomment-11972816
*/

/* @source "../node_modules/@acmecorp/ui-lib"; how to explicitly register sources (that Tw ignores by default)
https://tailwindcss.com/docs/detecting-classes-in-source-files#explicitly-registering-sources
*/
