@theme {
  /* easy to search for in Skin.css so you can see where this starts */
  --accutheme-index: 'src/tailwind/index.css';

  /* initial ideas from: 
        https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css 
    */

  /* Defaults and fallbacks */
  --default-font-family: var(--font-family-sans);
  --default-mono-font-family: var(--font-family-mono);

  /* Breakpoints */
  /* --breakpoint-sm: 40rem; 640px (if 1rem = 16px */
  /* --breakpoint-md: 48rem; 768px */
  /* --breakpoint-lg: 64rem; 1024px */
  /* --breakpoint-xl: 80rem; 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  --breakpoint-3xl: 120rem; /* 1920px */

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-accuraty-blue: #0767b1; /* Verified Accuraty Blue 2014-2025+ */

  /* Client Brand Colors */
  /* TODO: Add the client's brand colors when you start the project. Delete this comment once the colors are added. */

  /* Fonts */
  --font-family-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-family-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace0;

   /* Font Sizes - Adjust when necessary */
   --text-xs: 0.8125rem;
   --text-xs--line-height: 1.5rem;
   --text-sm: 0.875rem;
   --text-sm--line-height: 1.5rem;
   --text-base: 1rem;
   --text-base--line-height: 1.75rem;
   --text-lg: 1.125rem;
   --text-lg--line-height: 1.75rem;
   --text-xl: 1.25rem;
   --text-xl--line-height: 2rem;
   --text-2xl: 1.5rem;
   --text-2xl--line-height: 2rem;
   --text-3xl: 1.875rem;
   --text-3xl--line-height: 2.25rem;
   --text-4xl: 2rem;
   --text-4xl--line-height: 2.5rem;
   --text-5xl: 3rem;
   --text-5xl--line-height: 3.5rem;
   --text-6xl: 3.75rem;
   --text-6xl--line-height: 1;
   --text-7xl: 4.5rem;
   --text-7xl--line-height: 1;
   --text-8xl: 6rem;
   --text-8xl--line-height: 1;
   --text-9xl: 8rem;
   --text-9xl--line-height: 1;
}
