/*
  Note: this file is not in a layer! It only exists at build time 
  before the layers (base, components, utilities) 
*/
@theme {
  /* 
  reminder: 
  @theme extends, 
  to replace use --[namespace]=*: initial;
  */

  /* Tailwind's built-in defaults come from: 
      https://github.com/tailwindlabs/tailwindcss/blob/next/packages/tailwindcss/theme.css 
  */
  /* Tailwind Docs - Default theme variable reference: 
      https://tailwindcss.com/docs/theme#default-theme-variable-reference 
  */

  /* Client Brand Type Faces */
  /* TODO: Add the client's brand fonts when you start the project. Delete this comment once the fonts are added. */

  /* Breakpoints */
  /* Tailwind covers breakpoint-sm: 40rem to -2xl: 96rem as of v4.1.x 202508 JRF */
  --breakpoint-3xl: 120rem; /* 1920px */

  /* Containers */
  /* Tailwind covers --container-3xs: 16rem to -7xl: 80rem as of v4.1.x 202508 JRF */

  /* Colors */
  /* Tailwind covers black, white, and then ~100 to ~900 for:
      red, orange, amber, yellow, lime, green, emerald, teal, cyan, 
      sky, blue, indigo, violet, purple, fuchsia, pink, rose, 
      slate, gray, zinc, neutral, stone
  */
  --color-accuraty-blue: #0767b1; /* Verified Accuraty Blue 2014-2025+ */

  /* TODO Temp: A bunch of experiments in auto-lightening and darkening colors... 20250601 JRF */
  --color-accuraty-blue-hsl: hsl(
    206.12deg 92.39% 36.08%
  ); /* Converted from Hex using Chrome DevTools */
  --color-accuraty-blue-h: 206.12;
  --color-accuraty-blue-s: 92.39%;
  --color-accuraty-blue-l: 36.08%;
  --color-accuraty-blue-lighten: hsl(
    var(--color-accuraty-blue-h),
    var(--color-accuraty-blue-s),
    calc(var(--color-accuraty-blue-l) + 20%)
  );
  --color-accuraty-blue-darken: hsl(
    var(--color-accuraty-blue-h),
    var(--color-accuraty-blue-s),
    calc(var(--color-accuraty-blue-l) - 10%)
  ); /* Used for link hover - not official */
  /* What happens if we user the CSS color-mix()? */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/color-mix */
  --color-accuraty-blue-lighter-20: color-mix(
    in oklch,
    var(--color-accuraty-blue) 100%,
    #fff 20%
  );
  --color-accuraty-blue-lighter-40: color-mix(
    in oklch,
    var(--color-accuraty-blue) 100%,
    #fff 40%
  );
  --color-accuraty-blue-lighter-60: color-mix(
    in oklch,
    var(--color-accuraty-blue) 100%,
    #fff 60%
  );

  /* End of color variation experiments */

  /* Client Brand Colors */
  /* TODO: Add the client's brand colors when you start the project. Delete this comment once the colors are added. */

  /* TODO this needs to be rethought, what is the problem? what is the best solution (its not this) */
  /* Colors - SITE Theme Colors - All Color Swatches */
  --color-swatch-blue: #0872c4;
  --color-swatch-indigo: #5653cd;
  --color-swatch-purple: #773ab0;
  --color-swatch-pink: #e83e8c;
  --color-swatch-red: #cb2431;
  --color-swatch-orange: #ff8a00;
  --color-swatch-yellow: #ffc107;
  --color-swatch-green: #2ea44f;
  --color-swatch-teal: #07b6ab;

  /* Colors - SITE Theme Colors - Theme Bs4 Swatches */
  --color-swatch-primary: #007bff;
  --color-swatch-secondary: #6c757d;
  --color-swatch-success: #28a745;
  --color-swatch-danger: #dc3545;
  --color-swatch-warning: #ffc107;
  --color-swatch-info: #17a2b8;
  --color-swatch-light: #f8f9fa;
  --color-swatch-dark: #343a40;
  --color-swatch-white: #fff;
  --color-swatch-transparent: transparent;

  /* Colors - SITE Theme Colors - Grays Swatches */
  --swatch-gray-100: #f4f6f8;
  --swatch-gray-200: #e9ecef;
  --swatch-gray-300: #dfe3e8;
  --swatch-gray-400: #c4cdd5;
  --swatch-gray-500: #a7b2bc;
  --swatch-gray-600: #637381;
  --swatch-gray-700: #454f5b;
  --swatch-gray-800: #343c45;
  --swatch-gray-900: #212b36;

  /* Fonts */
  /* Tailwind covers font-sans, -serif, and -mono as defaults 202508 JRF */
  /* TODO not sure why we are redefining these, see previous commits? 20250804 JRF */
  /* is this also a mistake and accidentally creating class="family-sans"? */
  --font-family-sans: var(--font-sans);
  --font-family-serif: var(--font-serif);
  --font-family-mono: var(--font-mono);

  /* Defaults and fallbacks */
  --default-font-family: var(--font-family-sans);
  --default-mono-font-family: var(--font-family-mono);

  /* Text Sizes */
  /* Tailwind covers text-xs 0.75rem, -base 1rem, -9xl 8rem by default 202508 JRF */

  /* Font Weights */
  /* Tailwind covers --font-weight-thin 100, -extralight, -light, -normal 400, -medium, -semibold, -bold 700, -extrabold, -black 900 by default 202508 JRF */

  /* Additional items, see docs, link above 
  --tracking-
  --leading-
  --radius-
  --shadow-
  --inset-shadow-
  --drop-shadow-
  --text-shadow-
  --ease-
  --animate-
  */
}
