/* 
  another experiment (NX) 20250427 JRF 
  I want to introduce a sense of Typography (Prose) selectively 
  and separately from the theme.css stuff...
  This is the solution to the problem where certain HTML elements 
  need some styling in basic writing and especially documentation 
  to better communicate their meaning. Initial examples below.

  For further reference on the idea, see the v3 and earlier the 
  tailwindcss-typography plugin
  https://github.com/tailwindlabs/tailwindcss-typography

  And also the Tailwind Play TYPOGRAPHY example, which has lots 
  of great readability examples
  https://play.tailwindcss.com/uj1vGACRJA?layout=preview
*/

a {
  color: var(--color-accuraty-blue); /*  */
  font-weight: 500;
  &:hover {
    background-color: var(--color-gray-100);
  }
}
ul {
  list-style: inside;
}
code,
pre {
  font-family: var(--font-family-mono);
  font-size: var(--text-sm);
  color: var(--color-gray-800);
  background-color: var(--color-gray-200);
}
