/* 
  A theme needs a sense of style. Typography is where you set aside components and structure and focus 
  specifically on the paragraphs and related items that are the flow of an article. This styling is 
  separate from the theme.css stuff ...

  Note: this file is imported to layer(base) in ./index.css, 
  so no need for
  @layer base { ... }

  This is the solution to the problem where certain HTML elements need some styling in basic writing and 
  especially documentation to better communicate their meaning. Initial examples below.

  SITE/Theme-Reference/Typography page 
  https://accu2025.accuraty.us/SITE/Theme-Reference/Typography

  Here is TwPlay TYPOGRAPHY example the above was (initially) based on
  https://play.tailwindcss.com/uj1vGACRJA?layout=preview

  Which is from v3 of the tailwindcss-typography plugin
  https://github.com/tailwindlabs/tailwindcss-typography

  TODO Idea? Separate into multiple distinct styles
  1. Basic content (where we are at as of 20250505)
  ./typography-base.css (this file)
  2. Fancy (prose) when news/announcements/blog/publications/etc are a significant part of the project, 
  really take the styling to the next level. In particular, more margins (breathing room) and other 
  reading-friendly layout+styles. This CSS Tricks article from 2022 is a good influence, BUT 
  pay attention to Accuraty's 80/90/99 rules.
  https://css-tricks.com/designing-for-long-form-articles/
  ./typography-prose.css
  3. Technical/developer/docs; for things like ACCU4, 2sxc Docs, etc. (pre, code, samp, and more 
  complex stuff like detailed Alerts, inline highlighting (mark), WIP
  ./typography-nerd.css

  */

a,
a:visited {
  color: var(--color-blue);
  /*  */
  font-weight: 600;
  text-decoration: none;

  &:hover {
    color: var(--color-blue-darker);
  }
}

ul {
  list-style-type: disc;
  margin: 1.25rem 0;
  padding-left: 1.625rem;
  color: var(--color-gray-600);
}

ol {
  list-style-type: decimal;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  padding-left: 1.625rem;
  color: var(--color-gray-600);
}

li {
  margin: 0.5rem 0;
  padding-left: 0.365rem;
  color: inherit;
}

ul>li::marker {
  color: var(--color-gray-300);
  list-style-type: disc;
}

ul>li {
  color: var(--color-gray-600);
  list-style-type: disc;
}

.lead {
  font-size: var(--text-xl);
  line-height: 1.6;
  color: var(--color-gray-700);
  margin-bottom: 1.2rem;
}

p {
  font-size: var(--text-lg);
  color: var(--color-gray-600);
  line-height: 2rem;
  text-wrap: pretty;
}

blockquote {
  font-weight: 500;
  font-style: italic;
  color: var(--color-gray-800);
  border-left-width: 0.25rem;
  border-left-color: var(--color-gray-300);
  quotes: '\201C' '\201D' '\2018' '\2019';
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  padding-left: 1rem;
}

hr {
  margin: 3rem 0;
  border-color: var(--color-gray-200);
}

figure {
  margin: 1rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

figcaption {
  color: var(--color-gray-100);
  font-size: var(--text-xs);
  line-height: 1.6;
  margin-top: 0.75rem;
  padding: 1rem;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

table {
  @apply relative min-w-full mb-6;

  thead th {
    @apply py-3.5 pr-3 pl-4 text-left text-lg font-semibold text-gray-900 border-b border-gray-300 sm:pl-3;
  }

  thead th:first-child {
    @apply px-3 py-3.5 text-left text-lg font-semibold text-gray-900 border-b border-gray-300;
  }

  tbody {
    @apply bg-white;
  }

  tbody tr {
    @apply even:bg-gray-50;
  }

  tbody td,
  tfoot td {
    @apply px-3 py-4 text-sm whitespace-nowrap text-gray-500;
  }

  tbody td:first-child {
    @apply py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-gray-900 sm:pl-3;
  }
}



h1,
.h1 {
  font-size: var(--text-5xl);
  color: var(--color-gray-900);
  line-height: var(--text-6xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: calc(var(--spacing) * 5);
}

h2,
.h2 {
  font-size: var(--text-4xl);
  color: var(--color-gray-800);
  font-weight: var(--font-weight-semibold);
  margin-top: calc(var(--spacing) * 5);
  margin-bottom: calc(var(--spacing) * 5);
}

h3,
.h3 {
  font-size: var(--text-3xl);
  color: var(--color-gray-700);
  font-weight: var(--font-weight-medium);
  margin-top: calc(var(--spacing) * 5);
  margin-bottom: calc(var(--spacing) * 5);
}

h4,
.h4 {
  color: var(--color-gray-700);
  margin-top: calc(var(--spacing) * 5);
  margin-bottom: calc(var(--spacing) * 3);
}

h5,
.h5 {
  color: var(--color-gray-700);
  margin-top: calc(var(--spacing) * 5);
  margin-bottom: calc(var(--spacing) * 3);
}

h6,
.h6 {
  color: var(--color-gray-800);
  font-weight: var(--font-weight-semibold);
  margin-top: calc(var(--spacing) * 5);
  margin-bottom: calc(var(--spacing) * 3);
}

/* JRF's nerdy code/docs stuff */
pre,
code {
  font-family: var(--font-code);
  font-size: var(--text-sm);
  color: var(--color-gray-100);
  background-color: oklch(from var(--color-gray-900) l c h / 0.5);
}

pre {
  margin: calc(var(--spacing) * 5) 0;
  padding: calc(var(--spacing) * 2) 1rem;
  border-radius: var(--radius-md);
  overflow-x: auto;
}

code {
  color: var(--color-gray-800);
  background-color: oklch(from var(--color-gray-200) l c h / 0.5);
  border-width: 0;
  border-radius: 0;
  padding: var(--spacing);
  font-weight: inherit;
  line-height: inherit;
}

pre>code {
  color: var(--color-gray-200);
  background-color: transparent;
  padding: 0;
}

.mark,
mark {
  background-color: var(--color-yellow-100);
  padding-inline: calc(var(--spacing, 0.25rem) / 2);
}

/* I am hoping BEM will fix these two colors and then delete this comment 20250530 JRF */
.samp,
samp {
  background-color: var(--color-green-200);
}

.kbd,
kbd {
  background-color: var(--color-blue-200);
}

text,
.text {
  background-color: var(--color-orange-200);
}

mark,
samp,
kbd,
.mark,
.samp,
.kbd {
  padding-inline: var(--spacing);
}

/* move this to Prose stuffs? */
/* Why? Because there is no use-case where centering should not have it, right? 20251029 JRF */
.text-center {
  text-wrap: balance
}
