@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>
@using DotNetNuke.Web.DDRMenu;
@* @using System.Dynamic; *@
@* @using System.Linq; *@
@* @using System.Web; *@
@* @using ToSic.Razor.Blade; *@

@*  WIP - the remote live page is here
    https://accu4.com/More-/TailwindCss-AccuTheme-Tw4
    >>> SEE ASL-ACCU4 /// .../menus/NavSite/NavSite.cshtml for intial WIP <<<
*@

@* NOTE

SITE MENU is being rewritten to use Tailwind CSS from scratch
using the HTML Disclosure elements for a no JS solution.
*@

@*
  Init and trigger the magic.
  ****************************************************************************@

<div class="position-fixed top-0 left-126 flex gap-2 z-50 px-2 py-1 bg-white/25 backdrop-blur-sm">
@* <div class="position-fixed top-0 z-50 px-2 py-1 bg-accuraty-blue"> *@
  @RenderPages(Model.Source.root.Children)
</div>

@functions
{
  public HtmlString RenderPages(IEnumerable<MenuNode> pages)
  {
    System.Text.StringBuilder output = new System.Text.StringBuilder();

    foreach (var page in pages)
    {
      string mlPageDepth = $"ml-{page.Depth}"; // ml-1 ml-2 ml-3 ml-4 ml-5 ml-6 ml-7
      string detailsTag = page.HasChildren() ? "details" : "div";
      
      output.AppendLine($"<{detailsTag} class=\"{mlPageDepth}\" name=\"{mlPageDepth}\">");
      output.AppendLine(MakeTile(page));
      if (page.HasChildren())
      {
        output.Append(RenderPages(page.Children).ToString());
      }
      output.AppendLine($"</{detailsTag}>");
    }
    return new HtmlString(output.ToString());
  }

  public string MakeTile(MenuNode page)
  {
    System.Text.StringBuilder output = new System.Text.StringBuilder();
    string debugTooltip = MakeDebugTooltip(page);
    string elNodePageId = $"node-pageid-{page.TabId}";
    string isActive = (page.Depth > 0 && page.Breadcrumb) ? "data-active" : string.Empty;
    string summaryTag = page.HasChildren() ? "summary" : "div";
    output.AppendLine($"<{summaryTag} class=\"bg-gray-100 data-active:bg-gray-300 hover:bg-gray-200 px-1 py-2 mb-1 rounded-lg cursor-pointer shadow-sm\" {isActive}>");
    output.AppendLine($"<span class=\"px-2 font-semibold\" title=\"{debugTooltip}\" id=\"{elNodePageId}\">");
    output.AppendLine(MakeLinkOrText(page));
    output.AppendLine($"</span>");
    output.AppendLine($"</{summaryTag}>");
    return output.ToString();
  }

  public string MakeLinkOrText(MenuNode page)
  {
    string attrTarget = !string.IsNullOrEmpty(page.Target) ? ($"target=\"{page.Target}\"") : string.Empty;
    string attrHref = page.Enabled ? page.Url : "javascript:void(0);";
    if (page.TabId == 23)
    {
      // swap to Icon output for Search Results page 
      string output = "<i class=\"fa-regular fa-magnifying-glass-arrow-right fa-xl\"></i>";
      output = $"<span>{output}</span>";
      return $"<a href=\"{page.Url}\" {attrTarget} class=\"text-dark no-underline\">{output}</a>";
    }
    if (page.Enabled)
    {
      return $"<a href=\"{page.Url}\" {attrTarget} class=\"text-dark no-underline\">{page.Text}</a>";
    }
    return $"<span title=\"{page.Url}\">{page.Text}</span>";
  }

  public string MakeDebugTooltip(MenuNode page)
  {
    return $"TabId: {page.TabId}\n HasChildren: {page.HasChildren()}\n Depth: {page.Depth}\n Enabled: {page.Enabled}\n Breadcrumb: {page.Breadcrumb}\n Target: {page.Target}\n Url: {page.Url}\n Text: {page.Text}";
  }
}
